
<h1><%= @product.name %></h1>
<div class="content">
  <div class="container">
    <div class="show"> 
      <p id="notice"><%= notice %></p>
      <div class="row" data-product-id="<%= @product.id%>">
        <div class="col-sm-12 col-md-9 col-lg-9">
          <p>
            <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
          </p>
          <% if signed_in? && current_user.admin? %>
            <%= link_to 'Edit', edit_product_path(@product) %> |
            <%= link_to 'Back', products_path %>
          <% end %> <!-- /end of edit/back block -->
        </div> <!-- /img div -->

        <div class="col-sm-3 col-md-3">
          <p>
            <strong>Name:</strong>
            <%= @product.name %>
          </p> <!-- /product name -->
        
          <p>
           <strong>Description:</strong>
            <%= @product.description %>
          </p> <!-- /description -->
        
          <p>
            <strong>Colour:</strong>
            <%= @product.colour %>
          </p> <!-- /colour -->

          <p>
            <strong>Price:</strong>
            <%= number_to_currency(@product.price) %>
          </p> <!-- /price -->

          <p id="#average-rating">
            <strong>Average Rating:</strong> 
            <div class="rated" data-score="<%= @product.average_rating %>"></div> <!-- moving ERB outside dive shows it on page --> 
          </p> <!-- /ave rating -->

          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %> <!-- /pay now button -->
          <br>

          <p><strong>Highest Rating Comment</strong></p>
            <% if @product.highest_rating_comment %>
              <%= @product.highest_rating_comment.body %>
            <% end %> <!-- /highest rating -->

          <p><strong>Lowest Rating Comment</strong></p>
            <% if @product.lowest_rating_comment %>
              <%= @product.lowest_rating_comment.body %>
            <% end %> <!-- /lowest rating -->
          <br> 

          <%= render 'new_comment' %>

        </div> <!-- /col -->
      </div> <!-- /row -->
    </div> <!-- /show -->
    <div class="product-comments">
      <%= render 'comments' %>
      <%= will_paginate @comments %>
    </div> <!-- /product comments -->
    <br>
    <div class="back-button">
      <a class="btn btn-default" href="/products">Back to products</a>
    </div> <!-- /back button -->
  </div> <!-- /container -->
  <br>

</div>
