<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <title>Bike Tampa</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="project-name navbar-brand">
            <%= link_to "Bike Tampa", root_path %>
          </div> <!--/Project-name -->

          <!-- Search bar -->
          <form class="navbar-form navbar-right" action="/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"> 
          	<div class="form-group">
           	  <label class="hidden" for="q">Search for:</label>
          	  <input type="text" name="q" id="q" value="" class="form-control" placeholder="Search">
        	  </div>
        		<input type="submit" name="commit" value="Search" class="btn btn-default" data-disable-with="Search">
					</form> <!-- /Search bar -->

        </div> <!-- /Navbar-header -->
        <div class="navbar-collapse collapse">
          <!-- future logo here -->   
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", static_pages_index_path %></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bicycles<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Products", products_path %>
                </li>
                <li>
                	<%= link_to "Model 1", product_path(1) %>                 
                </li>
                <li>
                	<%= link_to "Model 2", product_path(2) %>                 
                </li>
                <li>
                	<%= link_to "Model 3", product_path(3) %>                 
                </li>
              </ul>
            </li> 
            <li>
            	<%= link_to "About", static_pages_about_path %>
            </li> 
            <li>
           	 <%= link_to "Contact", static_pages_contact_path %>
            </li>
						<li> <!-- User log in/sign out tab -->
							<% if user_signed_in? %>
							  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
						  <% else %>
						    <%= link_to('Login', new_user_session_path) %>
						  <% end %>        
						</li> <!-- /User log in/out tab -->
          </ul> <!-- /Navbar-right -->
        </div> <!-- /Navbar-collapse -->
      </div> <!-- /Container-fluid --> 
    </nav> <!-- /Navbar -->

    <!-- Flash tags for Welcome Message upon user sign-in -->
    <% if notice %>
      <div class="alert alert-info">
        <%= notice %>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning">
        <%= alert %>
      </div>
    <% end %>

	  <%= yield %>

	  <footer class="footer">
	  	<h4>&copy; 2017 Bike Tampa - All Rights Reserved</h4>
	  </footer>

	 	<!-- ============================= -->

  </body>
</html>
